@font-face {
    font-family: 'Timer';
    src: url(./CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1b244a;
    height: 100vh;
}

.container h3{
    color: #eeeeee;
    padding: 0 14px;
    font-size: 40px;
}

.box {
    background-color: #0b0001;
    width: 155px;
    height: 120px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    font-family: 'Timer';
    color: #f94f6d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.boxes {
    display: flex;
    margin-top: 20px;
    gap: 0 10px;
}

.box1{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    font-family: 'Timer';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9AABD8;
    cursor: pointer;
}
